/* 去除样式 */
* {
    margin: 0;
    padding: 0;
}

/* 设置背景颜色 */
body {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #5a6ac6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* 右边表单主体 */
.interface {
    border-radius: 10%;
    width: 400px;
    background-color: rgb(75, 110, 198, .3);

}

/* 表单标题 */
.title {
    color: rgb(10, 15, 48);
    text-align: center;
    margin: 30px;
    height: 50px;
    font-size: 30px;
}

/* 为span标签设置基本样式，本程序span标签用于文字或设置SVG文件 */
span {
    margin: 10px;
    display: inline-block;
    width: 80px;
    height: 30px;
}

/* 设置表单中表头名颜色 */
.word {
    color: rgb(126, 123, 123);
}

/* 设置登录按钮的input标签的相关属性 */
.login>input {
    color: #000;
    border-radius: 12px;
    /* 框边圆弧 */
    font-size: 20px;
    position: absolute;
    left: 70px;
    text-align: center;
    width: 250px;
    height: 50px;
    background-color: rgb(90, 200, 250);
}

/* 为input标签设置相关属性 */
input {
    color: #999;
    border-radius: 12px;
    width: 200px;
    font-size: 12px;
    line-height: 32px;
    padding: 3px;
    border-color: #e6e6e6;
    border-style: solid;

}

/* 输入验证码部分 */
.identify {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 12px;
}

/* 输入验证码字样 */
.identify_word {
    color: #000;
    padding-top: 5px;
    width: 150px;
}

/* 输入验证码SVG文件设置 */
.identifysvg {
    float: left;
    width: 32px;
}

/* 鼠标挪上输入验证码按钮，变色 */
.identify button {
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    background: #03a9f4;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 10px;
}

/* 登录按钮部分 */
.login {
    margin-top: 15px;
    width: 250px;
    height: 50px;
    margin-bottom: 20px;

}

/* 鼠标挪上登录按钮，变色 */
.login>input:hover {
    background-color: rgb(27, 124, 214);
}

/* 用户名SVG */
.namesvg {
    margin-top: 3px;
    float: left;
    width: 30px
}

/* 密码SVG */
.passwordsvg {
    margin-top: 3px;
    float: left;
    width: 30px;
}

/* 真实姓名SVG */
.truenamesvg {
    margin-top: 3px;
    float: left;
    width: 30px;
}

/* 电子邮件SVG */
.emailsvg {
    margin-top: 3px;
    float: left;
    width: 30px;
}

/* 电话号码SVG */
.phonenumbersvg {
    margin-top: 3px;
    float: left;
    width: 30px;
}