.dataUpload form {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  overflow: hidden;
  padding-top: 2%;
}
.dataUpload form #file {
  position: absolute;
  top: 0;
  left: 90px;
  z-index: 3;
  opacity: 0;
  width: 220px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  margin-top: 2%;
  white-space: nowrap;
  padding-right: 14px;
  padding-left: 14px;
  z-index: 99;
}
.dataUpload form #text {
  display: inline-block;
  vertical-align: middle;
  padding-right: 14px;
  padding-left: 14px;
  width: 220px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: -1;
}
.dataUpload form #upload {
  width: 90px;
  height: 40px;
  border: none;
  color: white;
  background-color: #00a7ff;
}
.dataUpload ::-webkit-scrollbar {
  width: 0px;
}
.dataUpload .dataShow {
  background-color: #ffffff;
  text-align: center;
  width: 85%;
  margin: 0 auto;
  display: grid;
  font-size: 18px;
  overflow: hidden auto;
  grid-template-columns: repeat(6, 16.6%);
}
.dataUpload .dataShow div {
  margin-top: 10px;
}
.dataUpload .dataShow #z {
  border-bottom: 1px solid black;
}
